In [2]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd
import sqlite3 as sql

file_path="Resources/0611_lake_Sammamish_clean.csv"
WQ_0611_df=pd.read_csv(file_path)
WQ_0611_df.head(10)

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1/6/94,0.02,103.0,9.15,1.0,0.270000,0.011,7.4,7.4,0.410000,0.017000,94.891147
1,1/6/94,0.02,104.0,8.98,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.699450
2,1/6/94,0.02,102.0,9.00,1.0,0.290000,0.012,7.4,7.3,0.440000,0.019000,101.553997
3,1/6/94,0.02,105.0,9.21,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.722325
4,1/6/94,0.02,104.0,9.20,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.721299
5,1/6/94,0.02,103.0,9.19,1.0,0.280000,0.013,7.4,7.3,0.400000,0.023000,99.698928
6,2/14/94,0.02,102.5,10.81,7.0,0.310000,0.009,7.4,6.5,0.470000,0.030000,111.025363
7,2/14/94,0.02,103.9,10.71,7.0,0.296667,0.009,7.4,6.5,0.500000,0.036000,108.874964
8,2/14/94,0.02,105.0,10.71,7.0,0.260000,0.009,7.4,6.5,0.530000,0.049000,101.827577
9,2/14/94,0.02,105.2,10.65,7.0,0.296667,0.009,7.4,6.5,0.500000,0.036000,108.869049

In [11]:
# Make a connection to the SQL database
conn = sql.connect('King_County_WQI.db')

In [12]:
# Query All Records in the the Database
WQ_0611_df.to_sql(name="Date_WQ_0611",con=conn,if_exists='replace',index=False)

2896

In [14]:
conn.commit()