In [7]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import time

In [8]:

file_path = "Resources/Lake_Sammamish_0611_1_1_1994_to_9_30_2022.csv"

WQ0611_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ0611_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [9]:
WQ0611_df.count()

CollectDate                        10051
SampleNum                          10051
Depth (m)                          10028
Ammmonia Nitrogen (mg/L)            2541
Ammmonia Nitrogen Qualifier*        2204
AN MDL (mg/L)                       2658
Conductivity (µmhos/cm)             8146
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6033
Dissolved Oxygen (mg/L)             8065
DO Qualifier*                        811
DO MDL (mg/L)                       6027
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2569
Nitrate Nitrite Qualifier*           577
Nitrate Nitrite MDL (mg/L)          2659
Orthophosphate Phosphate (mg/L)     2475
OP Qualifier*                       1794
OP MDL (mg/L)                       2656
pH                                  8152
pH Qualifier*                        433
Temperature (°C)                    8168
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2652
TN Qualifier*                        136
TN MDL (mg/L)                       2652
Total Phosphorus (mg/L)             2751
TP Qualifier*                       1063
TP MDL (mg/L)                       2768
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [10]:
WQ0611_df.columns

Index(['CollectDate', 'SampleNum', 'Depth (m)', 'Ammmonia Nitrogen (mg/L)',
       'Ammmonia Nitrogen Qualifier*', 'AN MDL (mg/L)',
       'Conductivity (µmhos/cm)', 'Cond Qualifier*', 'Cond MDL (µmhos/cm)',
       'Dissolved Oxygen (mg/L)', 'DO Qualifier*', 'DO MDL (mg/L)', 'Ecoli',
       'Ecoli Qualifier*', 'Fecal Coliform (CFU/100ml)',
       'Fecal Coliform Qualifier*', 'Nitrate Nitrite (mg/L)',
       'Nitrate Nitrite Qualifier*', 'Nitrate Nitrite MDL (mg/L)',
       'Orthophosphate Phosphate (mg/L)', 'OP Qualifier*', 'OP MDL (mg/L)',
       'pH', 'pH Qualifier*', 'Temperature (°C)', 'Temperature Qualifier*',
       'Total Nitrogen (mg/L)', 'TN Qualifier*', 'TN MDL (mg/L)',
       'Total Phosphorus (mg/L)', 'TP Qualifier*', 'TP MDL (mg/L)',
       'Total Alkalinity (mg/L)', 'Total Alkalinity Qualifier*',
       'Total Alkalinity MDL (mg/L)', 'Unnamed: 35'],
      dtype='object')

In [11]:
# Drop all the qualidiers 
WQ0611_df = WQ0611_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
    "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
    "pH Qualifier*", "Temperature Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*"])

# Drop all the MDL columns
WQ0611_df = WQ0611_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
"OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)"])

# Drop unnamed columns 
WQ0611_df = WQ0611_df.drop(columns=["Unnamed: 35"])

WQ0611_df = WQ0611_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])

WQ0611_df

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-18,0.020,103.0,9.15,1.0,0.270,0.0110,7.4,7.4,0.410,0.0170
1,01/06/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-20,0.020,102.0,9.00,NaN,0.290,0.0120,7.4,7.3,0.440,0.0190
3,01/06/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,01/06/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,7.4,7.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,09/27/2022,L80347-11,NaN,106.6,1.98,NaN,NaN,NaN,6.2,9.6,NaN,NaN
10047,09/27/2022,L80347-12,NaN,106.8,0.94,NaN,NaN,NaN,6.1,9.2,NaN,NaN
10048,09/27/2022,L80181-50,NaN,NaN,NaN,NaN,0.277,0.0006,NaN,NaN,0.385,0.0075
10049,09/27/2022,L80347-13,NaN,112.5,0.50,NaN,NaN,NaN,6.1,9.1,NaN,NaN
10050,09/27/2022,L80181-51,0.008,NaN,NaN,NaN,0.259,0.0037,NaN,NaN,0.375,0.0136

In [12]:
WQ0611_df.count()

CollectDate                        10051
SampleNum                          10051
Ammmonia Nitrogen (mg/L)            2541
Conductivity (µmhos/cm)             8146
Dissolved Oxygen (mg/L)             8065
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2569
Orthophosphate Phosphate (mg/L)     2475
pH                                  8152
Temperature (°C)                    8168
Total Nitrogen (mg/L)               2652
Total Phosphorus (mg/L)             2751
dtype: int64