In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-0617_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-24,1.0,0.02,<MDL,0.02,104.0,NaN,NaN,9.27,...,0.37,NaN,0.05,0.100,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-25,5.0,NaN,NaN,NaN,105.0,NaN,NaN,9.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-26,9.0,0.02,<MDL,0.02,105.0,NaN,NaN,9.10,...,0.41,NaN,0.05,0.097,NaN,0.005,42.0,NaN,0.2,NaN
3,02/14/1994,L2938-24,1.0,0.02,<MDL,0.02,105.7,NaN,NaN,10.97,...,0.60,NaN,0.05,0.057,NaN,0.005,NaN,NaN,NaN,NaN
4,02/14/1994,L2938-25,5.0,NaN,NaN,NaN,104.6,NaN,NaN,10.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02/14/1994,L2938-26,9.0,0.02,<MDL,0.02,105.1,NaN,NaN,10.38,...,0.62,NaN,0.05,0.043,NaN,0.005,NaN,NaN,NaN,NaN
6,03/08/1994,L3136-24,1.0,0.02,<MDL,0.02,104.1,NaN,NaN,11.66,...,0.55,NaN,0.05,0.013,NaN,0.005,NaN,NaN,NaN,NaN
7,03/08/1994,L3136-25,5.0,NaN,NaN,NaN,106.7,NaN,NaN,11.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,03/08/1994,L3136-26,9.0,0.02,<MDL,0.02,106.8,NaN,NaN,10.99,...,0.63,NaN,0.05,0.015,NaN,0.005,NaN,NaN,NaN,NaN
9,03/22/1994,L3278-24,1.0,0.02,<MDL,0.02,105.1,NaN,NaN,12.00,...,0.55,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(1147, 36)

In [4]:
WQ_df.count()

CollectDate                        1147
SampleNum                          1147
Depth (m)                          1126
Ammmonia Nitrogen (mg/L)            394
Ammmonia Nitrogen Qualifier*        368
AN MDL (mg/L)                       396
Conductivity (µmhos/cm)             939
Cond Qualifier*                       0
Cond MDL (µmhos/cm)                 360
Dissolved Oxygen (mg/L)             939
DO Qualifier*                        10
DO MDL (mg/L)                       360
Ecoli                               127
Ecoli Qualifier*                      3
Fecal Coliform (CFU/100ml)          201
Fecal Coliform Qualifier*             2
Nitrate Nitrite (mg/L)              395
Nitrate Nitrite Qualifier*           74
Nitrate Nitrite MDL (mg/L)          396
Orthophosphate Phosphate (mg/L)     391
OP Qualifier*                       271
OP MDL (mg/L)                       393
pH                                  939
pH Qualifier*                         0
Temperature (°C)                    955
Temperature Qualifier*                0
Total Nitrogen (mg/L)               394
TN Qualifier*                         0
TN MDL (mg/L)                       394
Total Phosphorus (mg/L)             484
TP Qualifier*                       169
TP MDL (mg/L)                       484
Total Alkalinity (mg/L)             121
Total Alkalinity Qualifier*           2
Total Alkalinity MDL (mg/L)         123
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(1147, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-24,0.02,104.0,9.27,NaN,2.0,0.28,0.013,7.4,7.5,0.37,0.100,42.0,NaN
1,01/06/1994,L2704-25,NaN,105.0,9.26,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-26,0.02,105.0,9.10,NaN,NaN,0.30,0.013,7.4,7.2,0.41,0.097,42.0,NaN
3,02/14/1994,L2938-24,0.02,105.7,10.97,NaN,15.0,0.41,0.011,7.4,6.4,0.60,0.057,NaN,NaN
4,02/14/1994,L2938-25,NaN,104.6,10.53,NaN,NaN,NaN,NaN,7.4,6.5,NaN,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1147
SampleNum                          1147
Ammmonia Nitrogen (mg/L)            394
Conductivity (µmhos/cm)             939
Dissolved Oxygen (mg/L)             939
Ecoli                               127
Fecal Coliform (CFU/100ml)          201
Nitrate Nitrite (mg/L)              395
Orthophosphate Phosphate (mg/L)     391
pH                                  939
Temperature (°C)                    955
Total Nitrogen (mg/L)               394
Total Phosphorus (mg/L)             484
Total Alkalinity (mg/L)             121
Unnamed: 35                           0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)            753
Conductivity (µmhos/cm)             208
Dissolved Oxygen (mg/L)             208
Ecoli                              1020
Fecal Coliform (CFU/100ml)          946
Nitrate Nitrite (mg/L)              752
Orthophosphate Phosphate (mg/L)     756
pH                                  208
Temperature (°C)                    192
Total Nitrogen (mg/L)               753
Total Phosphorus (mg/L)             663
Total Alkalinity (mg/L)            1026
Unnamed: 35                        1147
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1147, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-24,0.02,104.0,9.27,2.0,0.28,0.013,7.4,7.5,0.37,0.100
1,01/06/1994,L2704-25,NaN,105.0,9.26,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-26,0.02,105.0,9.10,NaN,0.30,0.013,7.4,7.2,0.41,0.097
3,02/14/1994,L2938-24,0.02,105.7,10.97,15.0,0.41,0.011,7.4,6.4,0.60,0.057
4,02/14/1994,L2938-25,NaN,104.6,10.53,NaN,NaN,NaN,7.4,6.5,NaN,NaN

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1147, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-24,0.020,104.0,9.27,2.0,0.280,0.0130,7.4,7.5,0.370,0.100
1,1994-01-06,L2704-25,NaN,105.0,9.26,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-26,0.020,105.0,9.10,NaN,0.300,0.0130,7.4,7.2,0.410,0.097
3,1994-02-14,L2938-24,0.020,105.7,10.97,15.0,0.410,0.0110,7.4,6.4,0.600,0.057
4,1994-02-14,L2938-25,NaN,104.6,10.53,NaN,NaN,NaN,7.4,6.5,NaN,NaN
5,1994-02-14,L2938-26,0.020,105.1,10.38,NaN,0.340,0.0100,7.3,6.4,0.620,0.043
6,1994-03-08,L3136-24,0.020,104.1,11.66,1.0,0.410,0.0060,7.7,8.3,0.550,0.013
7,1994-03-08,L3136-25,NaN,106.7,11.40,NaN,NaN,NaN,7.6,7.5,NaN,NaN
8,1994-03-08,L3136-26,0.020,106.8,10.99,NaN,0.420,0.0040,7.6,7.2,0.630,0.015
9,1994-03-22,L3278-24,0.020,105.1,12.00,0.0,0.330,0.0020,7.9,7.3,0.550,0.021
10,1994-03-22,L3278-25,NaN,105.2,12.07,NaN,NaN,NaN,7.9,7.2,NaN,NaN
11,1994-03-22,L3278-26,0.020,107.0,11.73,NaN,0.480,0.0020,7.8,7.2,0.710,0.020
12,1994-04-05,L3378-24,0.020,109.9,12.46,12.0,0.565,0.0047,8.2,7.7,0.746,0.016
13,1994-04-05,L3378-25,NaN,103.1,11.69,NaN,NaN,NaN,7.8,7.4,NaN,NaN
14,1994-04-05,L3378-26,0.020,103.1,11.28,NaN,0.348,0.0047,7.6,7.3,0.512,0.015
15,1994-04-19,L3514-24,0.020,103.1,13.99,2.0,0.366,0.0020,9.2,9.9,0.599,0.015
16,1994-04-19,L3514-25,NaN,103.2,13.12,NaN,NaN,NaN,9.0,8.9,NaN,NaN
17,1994-04-19,L3514-26,0.020,103.3,12.26,NaN,0.294,0.0020,8.6,8.5,0.506,0.011
18,1994-05-03,L3610-24,0.020,108.2,11.66,1.0,0.287,0.0020,8.8,14.0,0.458,0.008
19,1994-05-03,L3610-25,NaN,108.2,11.82,NaN,NaN,NaN,8.8,13.0,NaN,NaN
20,1994-05-03,L3610-26,0.020,107.1,12.33,NaN,0.275,0.0020,8.7,10.4,0.448,0.008
21,1994-05-24,L3772-24,0.020,115.5,9.91,1.0,0.268,0.0020,8.3,18.7,0.428,0.016
22,1994-05-24,L3772-25,NaN,115.5,9.88,NaN,NaN,NaN,8.3,17.8,NaN,NaN
23,1994-05-24,L3772-42,NaN,115.4,10.19,NaN,NaN,NaN,8.4,16.5,NaN,NaN
24,1994-05-24,L3772-41,NaN,115.0,10.24,NaN,NaN,NaN,8.4,16.1,NaN,NaN
25,1994-05-24,L3772-40,NaN,112.9,11.27,NaN,NaN,NaN,8.5,13.4,NaN,NaN
26,1994-05-24,L3772-39,NaN,113.2,11.51,NaN,NaN,NaN,8.5,13.0,NaN,NaN
27,1994-05-24,L3772-26,0.024,112.6,11.54,NaN,0.281,0.0020,8.5,12.7,0.463,0.013
28,1994-06-07,L3856-24,0.020,110.8,10.15,1.0,0.210,0.0020,8.3,16.5,0.428,0.014
29,1994-06-07,L3856-25,NaN,109.8,10.12,NaN,NaN,NaN,8.3,16.4,NaN,NaN
30,1994-06-07,L3856-26,0.020,109.6,10.13,NaN,0.243,0.0020,8.2,15.4,0.446,0.012
31,1994-07-06,L4017-24,0.020,117.1,9.94,1.0,0.142,0.0024,8.8,19.2,0.387,0.009
32,1994-07-06,L4017-25,NaN,116.7,9.96,NaN,NaN,NaN,8.8,18.6,NaN,NaN
33,1994-07-06,L4017-26,0.020,115.0,9.93,NaN,0.212,0.0027,8.5,17.2,0.455,0.021
34,1994-08-02,L4195-24,0.020,115.4,9.62,0.0,0.050,0.0020,9.1,25.0,0.263,0.008
35,1994-08-02,L4195-25,NaN,115.1,10.18,NaN,NaN,NaN,9.2,23.8,NaN,NaN
36,1994-08-02,L4195-26,0.020,110.0,11.34,NaN,0.106,0.0020,9.0,18.0,0.446,0.024
37,1994-09-07,L4443-24,0.044,105.4,9.40,22.0,0.050,0.0020,9.1,21.6,0.224,0.037
38,1994-09-07,L4443-25,NaN,105.9,9.21,NaN,NaN,NaN,9.0,21.3,NaN,NaN
39,1994-09-07,L4443-26,0.033,103.1,8.74,NaN,0.050,0.0020,8.4,19.0,0.252,0.015
40,1994-10-04,L4648-24,0.020,115.3,9.05,5.0,0.050,0.0020,8.8,19.3,0.209,0.015
41,1994-10-04,L4648-25,NaN,114.7,8.88,NaN,NaN,NaN,8.8,19.2,NaN,NaN
42,1994-10-04,L4648-26,0.020,114.4,8.48,NaN,0.050,0.0020,8.8,19.1,0.240,0.014
43,1994-11-01,L4834-24,0.335,111.9,8.38,4.0,0.050,0.0038,7.3,13.1,0.322,0.025
44,1994-11-01,L4834-25,NaN,111.3,8.24,NaN,NaN,NaN,7.3,13.1,NaN,NaN
45,1994-11-01,L4834-26,0.351,112.4,8.26,NaN,0.050,0.0020,7.3,13.0,0.258,0.022
46,1994-12-07,L4995-24,0.020,118.0,8.92,0.0,0.219,0.0134,7.1,8.2,0.461,0.028
47,1994-12-07,L4995-25,NaN,114.9,8.85,NaN,NaN,NaN,7.1,8.2,NaN,NaN
48,1994-12-07,L4995-26,0.020,114.2,8.84,NaN,0.212,0.0113,7.1,8.1,0.430,0.024
49,1995-01-17,L5236-5,0.020,92.9,10.68,6.0,0.464,0.0113,7.7,6.3,0.716,0.017

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1147, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           753
Conductivity (µmhos/cm)            208
Dissolved Oxygen (mg/L)            208
Fecal Coliform (CFU/100ml)         946
Nitrate Nitrite (mg/L)             752
Orthophosphate Phosphate (mg/L)    756
pH                                 208
Temperature (°C)                   192
Total Nitrogen (mg/L)              753
Total Phosphorus (mg/L)            663
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_7196\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_7196\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-24,0.02,104.0,9.27,2.0,0.280,0.0130,7.4,7.5,0.37,0.1000
1,1994-01-06,L2704-25,0.02,105.0,9.26,2.0,0.290,0.0130,7.4,7.3,0.39,0.0985
2,1994-01-06,L2704-26,0.02,105.0,9.10,2.0,0.300,0.0130,7.4,7.2,0.41,0.0970
3,1994-02-14,L2938-24,0.02,105.7,10.97,15.0,0.410,0.0110,7.4,6.4,0.60,0.0570
4,1994-02-14,L2938-25,0.02,104.6,10.53,15.0,0.375,0.0105,7.4,6.5,0.61,0.0500

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           356
Conductivity (µmhos/cm)             19
Dissolved Oxygen (mg/L)             19
Fecal Coliform (CFU/100ml)         350
Nitrate Nitrite (mg/L)             346
Orthophosphate Phosphate (mg/L)    359
pH                                  18
Temperature (°C)                     4
Total Nitrogen (mg/L)              348
Total Phosphorus (mg/L)              3
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,104.0,9.27,2.0,0.280,0.0130,7.4,7.5,0.37,0.1000,122.789319
1,1994-01-06,0.02,105.0,9.26,2.0,0.290,0.0130,7.4,7.3,0.39,0.0985,125.371418
2,1994-01-06,0.02,105.0,9.10,2.0,0.300,0.0130,7.4,7.2,0.41,0.0970,127.944718
3,1994-02-14,0.02,105.7,10.97,15.0,0.410,0.0110,7.4,6.4,0.60,0.0570,149.485521
4,1994-02-14,0.02,104.6,10.53,15.0,0.375,0.0105,7.4,6.5,0.61,0.0500,136.845005

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(785, 12)

CollectDate                        785
Ammmonia Nitrogen (mg/L)           785
Conductivity (µmhos/cm)            785
Dissolved Oxygen (mg/L)            785
Fecal Coliform (CFU/100ml)         785
Nitrate Nitrite (mg/L)             785
Orthophosphate Phosphate (mg/L)    785
pH                                 785
Temperature (°C)                   785
Total Nitrogen (mg/L)              785
Total Phosphorus (mg/L)            785
WQI                                785
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Ritu_Gothwal/Resources/0617_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

191