In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [5]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Raw_Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
WQ_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape')
WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Temperature Qualifier*,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L)
0,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
1,1/6/1994,L2704-19,5,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/6/1994,L2704-20,10,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,NaN,0.44,NaN,0.05,0.019,NaN,0.005,42,NaN,0.2
3,1/6/1994,L2704-21,15,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/1994,L2704-22,20,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/6/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,NaN,0.40,NaN,0.05,0.023,NaN,0.005,42,NaN,0.2
6,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
7,2/14/1994,L2938-18,1,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,NaN,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN
8,2/14/1994,L2938-19,5,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2/14/1994,L2938-20,10,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,NaN,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN

In [35]:
WQ_df .shape

(10039, 35)

In [36]:
WQ_df .count()

CollectDate                        10039
SampleNum                          10039
Depth (m)                          10016
Ammmonia Nitrogen (mg/L)            2544
Ammmonia Nitrogen Qualifier*        2205
AN MDL (mg/L)                       2659
Conductivity (µmhos/cm)             8135
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2570
Nitrate Nitrite Qualifier*           581
Nitrate Nitrite MDL (mg/L)          2660
Orthophosphate Phosphate (mg/L)     2479
OP Qualifier*                       1796
OP MDL (mg/L)                       2657
pH                                  8145
pH Qualifier*                        435
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        140
TN MDL (mg/L)                       2649
Total Phosphorus (mg/L)             2750
TP Qualifier*                       1066
TP MDL (mg/L)                       2769
Total Alkalinity (mg/L)              390
Total Alkalinity Qualifier*            6
Total Alkalinity MDL (mg/L)          388
dtype: int64

In [37]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df  = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df = WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(10039, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,NaN,1.0,0.27,0.011,7.4,7.4,0.41,0.017,42
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,NaN,NaN,0.29,0.012,7.4,7.3,0.44,0.019,42
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN

In [38]:
WQ_df.count()

CollectDate                        10039
SampleNum                          10039
Ammmonia Nitrogen (mg/L)            2544
Conductivity (µmhos/cm)             8135
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2570
Orthophosphate Phosphate (mg/L)     2479
pH                                  8145
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2750
Total Alkalinity (mg/L)              390
dtype: int64

In [39]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           7495
Conductivity (µmhos/cm)            1904
Dissolved Oxygen (mg/L)            1987
Ecoli                              9869
Fecal Coliform (CFU/100ml)         9723
Nitrate Nitrite (mg/L)             7469
Orthophosphate Phosphate (mg/L)    7560
pH                                 1894
Temperature (°C)                   1884
Total Nitrogen (mg/L)              7392
Total Phosphorus (mg/L)            7289
Total Alkalinity (mg/L)            9649
dtype: int64

In [40]:

WQ_df_1 = WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])
print(WQ_df_1.shape)
WQ_df_1.head()

(10039, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,1.0,0.27,0.011,7.4,7.4,0.41,0.017
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,NaN,0.29,0.012,7.4,7.3,0.44,0.019
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,7.4,7.3,NaN,NaN

In [41]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                  object
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [42]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [43]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1.drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(9895, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,1.0,0.270,0.0110,7.4,7.4,0.410,0.017
1,1994-01-06,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-20,0.02,102.0,9.00,NaN,0.290,0.0120,7.4,7.3,0.440,0.019
3,1994-01-06,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,1994-01-06,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,7.4,7.3,NaN,NaN
5,1994-01-06,L2704-23,0.02,103.0,9.19,NaN,0.280,0.0130,7.4,7.3,0.400,0.023
7,1994-02-14,L2938-18,0.02,102.5,10.81,7.0,0.310,0.0090,7.4,6.5,0.470,0.030
8,1994-02-14,L2938-19,NaN,103.9,10.71,NaN,NaN,NaN,7.4,6.5,NaN,NaN
9,1994-02-14,L2938-20,0.02,105.0,10.71,NaN,0.260,0.0090,7.4,6.5,0.530,0.049
10,1994-02-14,L2938-21,NaN,105.2,10.65,NaN,NaN,NaN,7.4,6.5,NaN,NaN
11,1994-02-14,L2938-22,NaN,105.2,10.62,NaN,NaN,NaN,7.4,6.5,NaN,NaN
12,1994-02-14,L2938-23,0.02,105.5,10.62,NaN,0.320,0.0090,7.4,6.5,0.500,0.029
14,1994-03-08,L3136-18,0.02,103.4,11.50,0.0,0.280,0.0030,7.8,7.5,0.530,0.013
15,1994-03-08,L3136-19,NaN,104.0,11.06,NaN,NaN,NaN,7.6,7.1,NaN,NaN
16,1994-03-08,L3136-20,0.02,105.1,10.97,NaN,0.380,0.0030,7.6,7.1,0.550,0.013
17,1994-03-08,L3136-21,NaN,105.3,10.80,NaN,NaN,NaN,7.5,6.9,NaN,NaN
18,1994-03-08,L3136-22,NaN,105.9,10.14,NaN,NaN,NaN,7.4,6.7,NaN,NaN
19,1994-03-08,L3136-23,0.02,105.3,9.69,NaN,0.320,0.0090,7.3,6.5,0.540,0.015
21,1994-03-22,L3278-18,0.02,104.0,12.63,0.0,0.290,0.0020,8.7,8.0,0.500,0.016
22,1994-03-22,L3278-19,NaN,105.3,12.24,NaN,NaN,NaN,8.3,7.6,NaN,NaN
23,1994-03-22,L3278-20,0.02,105.9,11.91,NaN,0.310,0.0020,8.1,7.6,0.530,0.014
24,1994-03-22,L3278-21,NaN,106.2,11.76,NaN,NaN,NaN,8.1,7.5,NaN,NaN
25,1994-03-22,L3278-22,NaN,106.3,11.71,NaN,NaN,NaN,8.1,7.5,NaN,NaN
26,1994-03-22,L3278-23,NaN,106.5,11.70,NaN,NaN,NaN,8.1,7.5,NaN,NaN
28,1994-04-05,L3378-18,0.02,103.7,15.04,4.0,0.223,0.0047,9.4,10.3,0.439,0.009
29,1994-04-05,L3378-19,NaN,104.2,15.01,NaN,NaN,NaN,9.3,10.0,NaN,NaN
30,1994-04-05,L3378-20,0.02,103.3,13.28,NaN,0.276,0.0047,8.7,7.9,0.454,0.009
31,1994-04-05,L3378-21,NaN,103.3,11.83,NaN,NaN,NaN,7.9,7.4,NaN,NaN
32,1994-04-05,L3378-22,NaN,103.7,11.13,NaN,NaN,NaN,7.7,7.2,NaN,NaN
33,1994-04-05,L3378-23,0.02,103.9,9.59,NaN,0.360,0.0047,7.4,7.1,0.525,0.013
35,1994-04-19,L3514-18,0.02,104.5,12.89,0.0,0.241,0.0020,9.2,12.6,0.427,0.011
36,1994-04-19,L3514-19,NaN,105.0,12.89,NaN,NaN,NaN,9.2,12.5,NaN,NaN
37,1994-04-19,L3514-20,0.02,103.9,13.65,NaN,0.252,0.0020,9.2,9.5,0.469,0.018
38,1994-04-19,L3514-21,NaN,103.6,12.52,NaN,NaN,NaN,8.7,8.7,NaN,NaN
39,1994-04-19,L3514-22,NaN,104.1,11.35,NaN,NaN,NaN,8.0,8.0,NaN,NaN
40,1994-04-19,L3514-23,0.02,104.1,9.31,NaN,0.341,0.0020,7.5,7.5,0.527,0.013
42,1994-05-03,L3610-18,0.02,108.3,10.84,0.0,0.251,0.0020,8.8,13.8,0.416,0.008
43,1994-05-03,L3610-19,NaN,108.5,10.53,NaN,NaN,NaN,8.8,13.4,NaN,NaN
44,1994-05-03,L3610-20,0.02,107.0,12.69,NaN,0.276,0.0020,8.7,9.4,0.454,0.008
45,1994-05-03,L3610-21,NaN,106.6,11.29,NaN,NaN,NaN,7.9,8.2,NaN,NaN
46,1994-05-03,L3610-22,NaN,106.3,8.51,NaN,NaN,NaN,7.2,7.7,NaN,NaN
47,1994-05-03,L3610-23,0.02,106.4,8.31,NaN,0.326,0.0020,7.1,7.6,0.510,0.012
49,1994-05-24,L3772-18,0.02,114.1,10.21,0.0,0.264,0.0020,8.4,17.7,0.428,0.015
50,1994-05-24,L3772-19,NaN,114.2,10.16,NaN,NaN,NaN,8.5,16.8,NaN,NaN
51,1994-05-24,L3772-51,NaN,113.7,10.56,NaN,NaN,NaN,8.5,15.8,NaN,NaN
52,1994-05-24,L3772-52,NaN,113.4,10.77,NaN,NaN,NaN,8.6,15.2,NaN,NaN
53,1994-05-24,L3772-53,NaN,113.1,11.09,NaN,NaN,NaN,8.6,14.2,NaN,NaN
54,1994-05-24,L3772-54,NaN,112.4,11.55,NaN,NaN,NaN,8.6,13.0,NaN,NaN
55,1994-05-24,L3772-55,NaN,112.1,11.63,NaN,NaN,NaN,8.6,12.4,NaN,NaN
56,1994-05-24,L3772-56,NaN,111.5,11.89,NaN,NaN,NaN,8.6,11.7,NaN,NaN

In [44]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(9895, 12)

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           7482
Conductivity (µmhos/cm)            1891
Dissolved Oxygen (mg/L)            1974
Fecal Coliform (CFU/100ml)         9699
Nitrate Nitrite (mg/L)             7456
Orthophosphate Phosphate (mg/L)    7547
pH                                 1883
Temperature (°C)                   1871
Total Nitrogen (mg/L)              7379
Total Phosphorus (mg/L)            7276
dtype: int64

In [45]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_4312\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_4312\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,1.0,0.27,0.011,7.4,7.4,0.410000,0.017000
1,1994-01-06,L2704-19,0.02,104.0,8.98,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667
2,1994-01-06,L2704-20,0.02,102.0,9.00,1.0,0.29,0.012,7.4,7.3,0.440000,0.019000
3,1994-01-06,L2704-21,0.02,105.0,9.21,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667
4,1994-01-06,L2704-22,0.02,104.0,9.20,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667

In [46]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [47]:
df_3.isnull().sum()

CollectDate                           0
Ammmonia Nitrogen (mg/L)           1477
Conductivity (µmhos/cm)              68
Dissolved Oxygen (mg/L)              80
Fecal Coliform (CFU/100ml)         6991
Nitrate Nitrite (mg/L)             1358
Orthophosphate Phosphate (mg/L)    1455
pH                                   62
Temperature (°C)                     49
Total Nitrogen (mg/L)              1413
Total Phosphorus (mg/L)              79
dtype: int64

In [48]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,103.0,9.15,1.0,0.27,0.011,7.4,7.4,0.410000,0.017000,94.891147
1,1994-01-06,0.02,104.0,8.98,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.699450
2,1994-01-06,0.02,102.0,9.00,1.0,0.29,0.012,7.4,7.3,0.440000,0.019000,101.553997
3,1994-01-06,0.02,105.0,9.21,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.722325
4,1994-01-06,0.02,104.0,9.20,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.721299

In [49]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(2896, 12)

CollectDate                        2896
Ammmonia Nitrogen (mg/L)           2896
Conductivity (µmhos/cm)            2896
Dissolved Oxygen (mg/L)            2896
Fecal Coliform (CFU/100ml)         2896
Nitrate Nitrite (mg/L)             2896
Orthophosphate Phosphate (mg/L)    2896
pH                                 2896
Temperature (°C)                   2896
Total Nitrogen (mg/L)              2896
Total Phosphorus (mg/L)            2896
WQI                                2896
dtype: int64

In [50]:
# Create the output file (CSV)

output_data_file = "../Ritu_Gothwal/Resources/0611_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [51]:
print(df_3['CollectDate'].unique().size)

191