In [1]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
from datetime import datetime 

import pandas as pd 
import sqlite3 as sql

In [2]:
file_path="Resources/Big_Lake_Sammamish.csv"
WQ_Big_Lake_df=pd.read_csv(file_path)
WQ_Big_Lake_df.head(10)

,Unnamed: 0,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,0,1994-01-06,0.02,103.0,9.15,1.0,0.270000,0.011,7.4,7.4,0.410000,0.017000,94.891147
1,1,1994-01-06,0.02,104.0,8.98,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.699450
2,2,1994-01-06,0.02,102.0,9.00,1.0,0.290000,0.012,7.4,7.3,0.440000,0.019000,101.553997
3,3,1994-01-06,0.02,105.0,9.21,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.722325
4,4,1994-01-06,0.02,104.0,9.20,1.0,0.280000,0.012,7.4,7.3,0.416667,0.019667,98.721299
5,5,1994-01-06,0.02,103.0,9.19,1.0,0.280000,0.013,7.4,7.3,0.400000,0.023000,99.698928
6,6,1994-02-14,0.02,102.5,10.81,7.0,0.310000,0.009,7.4,6.5,0.470000,0.030000,111.025363
7,7,1994-02-14,0.02,103.9,10.71,7.0,0.296667,0.009,7.4,6.5,0.500000,0.036000,108.874964
8,8,1994-02-14,0.02,105.0,10.71,7.0,0.260000,0.009,7.4,6.5,0.530000,0.049000,101.827577
9,9,1994-02-14,0.02,105.2,10.65,7.0,0.296667,0.009,7.4,6.5,0.500000,0.036000,108.869049

In [3]:
list(WQ_Big_Lake_df.columns)

['Unnamed: 0',
 'CollectDate',
 'Ammmonia Nitrogen (mg/L)',
 'Conductivity (µmhos/cm)',
 'Dissolved Oxygen (mg/L)',
 'Fecal Coliform (CFU/100ml)',
 'Nitrate Nitrite (mg/L)',
 'Orthophosphate Phosphate (mg/L)',
 'pH',
 'Temperature (°C)',
 'Total Nitrogen (mg/L)',
 'Total Phosphorus (mg/L)',
 'WQI']

In [4]:
WQ_Big_Lake_df.drop('Unnamed: 0',axis=1, inplace=True)
WQ_Big_Lake_df

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,103.00,9.15,1.0,0.270,0.011000,7.400,7.4,0.410000,0.017000,94.891147
1,1994-01-06,0.02,104.00,8.98,1.0,0.280,0.012000,7.400,7.3,0.416667,0.019667,98.699450
2,1994-01-06,0.02,102.00,9.00,1.0,0.290,0.012000,7.400,7.3,0.440000,0.019000,101.553997
3,1994-01-06,0.02,105.00,9.21,1.0,0.280,0.012000,7.400,7.3,0.416667,0.019667,98.722325
4,1994-01-06,0.02,104.00,9.20,1.0,0.280,0.012000,7.400,7.3,0.416667,0.019667,98.721299
...,...,...,...,...,...,...,...,...,...,...,...,...
9508,2008-12-09,0.01,103.00,8.00,37.0,0.209,0.008467,7.300,10.4,0.359000,0.017300,73.585895
9509,2008-12-09,0.01,102.00,7.90,37.0,0.209,0.008467,7.300,10.4,0.359000,0.017300,73.575930
9510,2008-12-09,0.01,102.00,7.80,37.0,0.209,0.008467,7.300,10.4,0.359000,0.017300,73.565999
9511,2008-12-09,0.01,102.25,7.90,37.0,0.210,0.008500,7.275,10.4,0.359000,0.017700,73.995892
9512,2008-12-09,0.01,102.00,7.90,37.0,0.209,0.008467,7.200,10.4,0.359000,0.017300,73.571772

In [5]:
#Rename Ammmonia_Nitrogen to Ammonia_Nitrogen
WQ_Big_Lake_df.rename({'Ammmonia Nitrogen (mg/L)':'Ammonia Nitrogen (mg/L)'},axis='columns',inplace=True)
WQ_Big_Lake_df.head()

,CollectDate,Ammonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,103.0,9.15,1.0,0.27,0.011,7.4,7.4,0.410000,0.017000,94.891147
1,1994-01-06,0.02,104.0,8.98,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.699450
2,1994-01-06,0.02,102.0,9.00,1.0,0.29,0.012,7.4,7.3,0.440000,0.019000,101.553997
3,1994-01-06,0.02,105.0,9.21,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.722325
4,1994-01-06,0.02,104.0,9.20,1.0,0.28,0.012,7.4,7.3,0.416667,0.019667,98.721299

In [6]:
#Create the database
conn = sql.connect('WQI_King_County.db')
c = conn.cursor()

In [7]:
c.execute('CREATE TABLE IF NOT EXISTS Big_Lake_Sammamish (collectdate , Ammonia_Nitrogen , Conductivity , Dissolved_Oxygen , Fecal_Coliform INTEGER, Nitrate_Nitrite , Orthophosphate_Phosphate , pH , Temperature , Total_Nitrogen INTEGER, Total_Phosphorous , WQI)')
conn.commit()

In [8]:
c.execute('CREATE TABLE IF NOT EXISTS CollectDate (Ammonia_Nitrogen,Conductivity,Dissolved_Oxygen,Fecal_Coliform, Nitrate_Nitrite ,Orthophosphate_Phosphate,pH,Temperature, Total_Nitrogen,Total_Phosphorous,WQI)')
conn.commit()

In [9]:
c.execute('CREATE TABLE IF NOT EXISTS Prediction (Prediction, Actual)')
conn.commit()

In [10]:
# Get from Pandas DataFrame to SQL 
WQ_Big_Lake_df.to_sql('Big_Lake_Sammamish', conn, if_exists='replace', index = False)

/Users/ericagutierrez/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [11]:
# Get from Pandas DataFrame to SQL 
WQ_Big_Lake_df.to_sql('CollectDate', conn, if_exists='replace', index = False)

In [12]:
# Get from Pandas DataFrame to SQL 
WQ_Big_Lake_df.to_sql('Prediction', conn, if_exists='replace', index = False)

In [13]:
conn.commit()

In [14]:
# Make a connection to the SQL database
conn = sql.connect('King_County_WQI.db')

In [15]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{'King_County_WQI.db'}")

In [16]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['King_County_WQI', 'date_WQI']

In [17]:
# Commit to flush change to disk, then close connection 
conn.commit()
conn.close()