In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-M621_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-11,NaN,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.44,NaN,0.05,0.022,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-12,3.0,NaN,NaN,NaN,105.0,NaN,NaN,9.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-13,5.0,NaN,NaN,NaN,104.0,NaN,NaN,9.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/06/1994,L2704-14,7.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.28,...,0.45,NaN,0.05,0.024,NaN,0.005,41.0,NaN,0.2,NaN
4,02/14/1994,L2938-11,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,11.02,...,0.46,NaN,0.05,0.038,NaN,0.005,NaN,NaN,NaN,NaN
5,02/14/1994,L2938-12,3.0,NaN,NaN,NaN,103.3,NaN,NaN,10.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,02/14/1994,L2938-13,5.0,NaN,NaN,NaN,103.7,NaN,NaN,10.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,02/14/1994,L2938-14,7.0,0.02,<MDL,0.02,104.8,NaN,NaN,10.78,...,0.48,NaN,0.05,0.053,NaN,0.005,NaN,NaN,NaN,NaN
8,03/08/1994,L3136-11,1.0,0.02,<MDL,0.02,101.9,NaN,NaN,11.37,...,0.69,NaN,0.05,0.024,NaN,0.005,NaN,NaN,NaN,NaN
9,03/08/1994,L3136-12,3.0,NaN,NaN,NaN,103.5,NaN,NaN,11.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(1105, 36)

In [4]:
WQ_df.count()

CollectDate                        1105
SampleNum                          1105
Depth (m)                          1083
Ammmonia Nitrogen (mg/L)            413
Ammmonia Nitrogen Qualifier*        390
AN MDL (mg/L)                       415
Conductivity (µmhos/cm)             854
Cond Qualifier*                       0
Cond MDL (µmhos/cm)                 307
Dissolved Oxygen (mg/L)             851
DO Qualifier*                         6
DO MDL (mg/L)                       307
Ecoli                               151
Ecoli Qualifier*                      6
Fecal Coliform (CFU/100ml)          223
Fecal Coliform Qualifier*             2
Nitrate Nitrite (mg/L)              413
Nitrate Nitrite Qualifier*          103
Nitrate Nitrite MDL (mg/L)          415
Orthophosphate Phosphate (mg/L)     412
OP Qualifier*                       282
OP MDL (mg/L)                       414
pH                                  853
pH Qualifier*                         0
Temperature (°C)                    871
Temperature Qualifier*                0
Total Nitrogen (mg/L)               415
TN Qualifier*                         0
TN MDL (mg/L)                       415
Total Phosphorus (mg/L)             519
TP Qualifier*                       200
TP MDL (mg/L)                       520
Total Alkalinity (mg/L)             129
Total Alkalinity Qualifier*           2
Total Alkalinity MDL (mg/L)         131
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(1105, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-11,0.02,NaN,NaN,NaN,4.0,0.30,0.012,NaN,NaN,0.44,0.022,42.0,NaN
1,01/06/1994,L2704-12,NaN,105.0,9.37,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-13,NaN,104.0,9.31,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
3,01/06/1994,L2704-14,0.02,103.0,9.28,NaN,NaN,0.32,0.013,7.4,7.2,0.45,0.024,41.0,NaN
4,02/14/1994,L2938-11,0.02,102.5,11.02,NaN,5.0,0.33,0.008,7.4,6.5,0.46,0.038,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1105
SampleNum                          1105
Ammmonia Nitrogen (mg/L)            413
Conductivity (µmhos/cm)             854
Dissolved Oxygen (mg/L)             851
Ecoli                               151
Fecal Coliform (CFU/100ml)          223
Nitrate Nitrite (mg/L)              413
Orthophosphate Phosphate (mg/L)     412
pH                                  853
Temperature (°C)                    871
Total Nitrogen (mg/L)               415
Total Phosphorus (mg/L)             519
Total Alkalinity (mg/L)             129
Unnamed: 35                           0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)            692
Conductivity (µmhos/cm)             251
Dissolved Oxygen (mg/L)             254
Ecoli                               954
Fecal Coliform (CFU/100ml)          882
Nitrate Nitrite (mg/L)              692
Orthophosphate Phosphate (mg/L)     693
pH                                  252
Temperature (°C)                    234
Total Nitrogen (mg/L)               690
Total Phosphorus (mg/L)             586
Total Alkalinity (mg/L)             976
Unnamed: 35                        1105
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1105, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-11,0.02,NaN,NaN,4.0,0.30,0.012,NaN,NaN,0.44,0.022
1,01/06/1994,L2704-12,NaN,105.0,9.37,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-13,NaN,104.0,9.31,NaN,NaN,NaN,7.4,7.3,NaN,NaN
3,01/06/1994,L2704-14,0.02,103.0,9.28,NaN,0.32,0.013,7.4,7.2,0.45,0.024
4,02/14/1994,L2938-11,0.02,102.5,11.02,5.0,0.33,0.008,7.4,6.5,0.46,0.038

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1105, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-11,0.020,NaN,NaN,4.0,0.300,0.0120,NaN,NaN,0.440,0.022
1,1994-01-06,L2704-12,NaN,105.0,9.37,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-13,NaN,104.0,9.31,NaN,NaN,NaN,7.4,7.3,NaN,NaN
3,1994-01-06,L2704-14,0.020,103.0,9.28,NaN,0.320,0.0130,7.4,7.2,0.450,0.024
4,1994-02-14,L2938-11,0.020,102.5,11.02,5.0,0.330,0.0080,7.4,6.5,0.460,0.038
5,1994-02-14,L2938-12,NaN,103.3,10.85,NaN,NaN,NaN,7.4,6.5,NaN,NaN
6,1994-02-14,L2938-13,NaN,103.7,10.84,NaN,NaN,NaN,7.4,6.5,NaN,NaN
7,1994-02-14,L2938-14,0.020,104.8,10.78,NaN,0.320,0.0100,7.4,6.5,0.480,0.053
8,1994-03-08,L3136-11,0.020,101.9,11.37,2.0,0.460,0.0100,7.5,7.1,0.690,0.024
9,1994-03-08,L3136-12,NaN,103.5,11.02,NaN,NaN,NaN,7.5,6.9,NaN,NaN
10,1994-03-08,L3136-13,NaN,104.0,10.94,NaN,NaN,NaN,7.5,6.8,NaN,NaN
11,1994-03-08,L3136-14,0.020,104.3,10.75,NaN,0.400,0.0050,7.4,6.8,0.610,0.013
12,1994-03-22,L3278-11,0.020,102.8,12.32,0.0,0.310,0.0020,8.3,7.7,0.530,0.015
13,1994-03-22,L3278-12,NaN,102.3,12.38,NaN,NaN,NaN,8.3,7.7,NaN,NaN
14,1994-03-22,L3278-13,NaN,102.9,12.05,NaN,NaN,NaN,8.1,7.4,NaN,NaN
15,1994-03-22,L3278-14,0.020,105.7,11.45,NaN,0.350,0.0020,7.7,7.2,0.570,0.015
16,1994-04-05,L3378-11,0.020,102.6,14.25,1.0,0.263,0.0047,9.1,8.9,0.485,0.007
17,1994-04-05,L3378-12,NaN,103.1,14.08,NaN,NaN,NaN,9.0,8.7,NaN,NaN
18,1994-04-05,L3378-13,NaN,103.1,12.70,NaN,NaN,NaN,8.5,7.8,NaN,NaN
19,1994-04-05,L3378-14,0.020,103.1,12.29,NaN,0.308,0.0047,8.2,7.6,0.510,0.018
20,1994-04-19,L3514-11,0.020,104.4,12.62,0.0,0.280,0.0020,9.1,13.0,0.461,0.016
21,1994-04-19,L3514-12,NaN,104.7,12.59,NaN,NaN,NaN,9.1,13.0,NaN,NaN
22,1994-04-19,L3514-13,NaN,104.9,12.59,NaN,NaN,NaN,9.1,13.0,NaN,NaN
23,1994-04-19,L3514-14,0.020,104.8,12.57,NaN,0.281,0.0020,9.1,13.0,0.458,0.017
24,1994-05-03,L3610-11,0.020,106.9,12.01,0.0,0.265,0.0020,8.9,13.6,0.439,0.020
25,1994-05-03,L3610-12,NaN,107.5,11.57,NaN,NaN,NaN,8.9,13.4,NaN,NaN
26,1994-05-03,L3610-13,NaN,107.7,11.55,NaN,NaN,NaN,8.9,13.4,NaN,NaN
27,1994-05-03,L3610-14,0.020,107.9,11.54,NaN,0.265,0.0020,8.9,13.4,0.435,0.008
28,1994-05-24,L3772-11,0.020,114.3,10.19,1.0,0.264,0.0020,8.4,18.6,0.434,0.013
29,1994-05-24,L3772-12,NaN,114.4,10.24,NaN,NaN,NaN,8.5,17.1,NaN,NaN
30,1994-05-24,L3772-13,NaN,114.5,10.21,NaN,NaN,NaN,8.5,17.0,NaN,NaN
31,1994-05-24,L3772-14,0.020,114.7,10.33,NaN,0.271,0.0020,8.5,16.4,0.455,0.019
32,1994-05-24,L3772-67,NaN,113.9,10.79,NaN,NaN,NaN,8.5,15.2,NaN,NaN
33,1994-05-24,L3772-68,NaN,112.9,11.09,NaN,NaN,NaN,8.5,13.5,NaN,NaN
34,1994-05-24,L3772-69,NaN,111.9,11.53,NaN,NaN,NaN,8.5,11.9,NaN,NaN
35,1994-06-07,L3856-11,0.020,108.3,9.96,6.0,0.251,0.0020,8.2,17.0,0.395,0.011
36,1994-06-07,L3856-12,NaN,108.6,9.92,NaN,NaN,NaN,8.2,17.0,NaN,NaN
37,1994-06-07,L3856-13,NaN,108.7,9.91,NaN,NaN,NaN,8.2,17.0,NaN,NaN
38,1994-06-07,L3856-14,0.020,108.9,9.93,NaN,0.249,0.0020,8.2,17.0,0.432,0.010
39,1994-07-06,L4017-11,0.051,116.0,9.80,0.0,0.150,0.0041,8.8,20.1,0.340,0.011
40,1994-07-06,L4017-12,NaN,116.3,9.82,NaN,NaN,NaN,8.9,19.8,NaN,NaN
41,1994-07-06,L4017-13,NaN,116.4,9.93,NaN,NaN,NaN,8.9,19.7,NaN,NaN
42,1994-07-06,L4017-14,0.020,117.0,9.69,NaN,0.206,0.0020,8.8,19.4,0.450,0.014
43,1994-08-02,L4195-11,0.020,114.6,10.07,0.0,0.050,0.0020,9.2,23.9,0.314,0.060
44,1994-08-02,L4195-12,NaN,115.0,10.20,NaN,NaN,NaN,9.2,23.7,NaN,NaN
45,1994-08-02,L4195-13,NaN,115.3,10.22,NaN,NaN,NaN,9.2,23.7,NaN,NaN
46,1994-08-02,L4195-14,0.020,115.6,10.27,NaN,0.050,0.0020,9.2,23.7,0.278,0.018
47,1994-09-07,L4443-11,0.020,105.2,9.38,0.0,0.050,0.0020,9.1,21.3,0.217,0.014
48,1994-09-07,L4443-12,NaN,105.8,9.51,NaN,NaN,NaN,9.1,21.1,NaN,NaN
49,1994-09-07,L4443-13,NaN,105.9,9.31,NaN,NaN,NaN,9.0,21.1,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1105, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           692
Conductivity (µmhos/cm)            251
Dissolved Oxygen (mg/L)            254
Fecal Coliform (CFU/100ml)         882
Nitrate Nitrite (mg/L)             692
Orthophosphate Phosphate (mg/L)    693
pH                                 252
Temperature (°C)                   234
Total Nitrogen (mg/L)              690
Total Phosphorus (mg/L)            586
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_36668\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_36668\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-11,0.02,104.0,9.32,4.0,0.30,0.0120,7.4,7.266667,0.440,0.022
1,1994-01-06,L2704-12,0.02,105.0,9.37,4.0,0.31,0.0125,7.4,7.300000,0.445,0.023
2,1994-01-06,L2704-13,0.02,104.0,9.31,4.0,0.31,0.0125,7.4,7.300000,0.445,0.023
3,1994-01-06,L2704-14,0.02,103.0,9.28,4.0,0.32,0.0130,7.4,7.200000,0.450,0.024
4,1994-02-14,L2938-11,0.02,102.5,11.02,5.0,0.33,0.0080,7.4,6.500000,0.460,0.038

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           333
Conductivity (µmhos/cm)             17
Dissolved Oxygen (mg/L)             20
Fecal Coliform (CFU/100ml)         328
Nitrate Nitrite (mg/L)             333
Orthophosphate Phosphate (mg/L)    334
pH                                  16
Temperature (°C)                     3
Total Nitrogen (mg/L)              327
Total Phosphorus (mg/L)              5
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,104.0,9.32,4.0,0.30,0.0120,7.4,7.266667,0.440,0.022,105.489795
1,1994-01-06,0.02,105.0,9.37,4.0,0.31,0.0125,7.4,7.300000,0.445,0.023,108.817930
2,1994-01-06,0.02,104.0,9.31,4.0,0.31,0.0125,7.4,7.300000,0.445,0.023,108.811938
3,1994-01-06,0.02,103.0,9.28,4.0,0.32,0.0130,7.4,7.200000,0.450,0.024,112.123887
4,1994-02-14,0.02,102.5,11.02,5.0,0.33,0.0080,7.4,6.500000,0.460,0.038,119.424854

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(768, 12)

CollectDate                        768
Ammmonia Nitrogen (mg/L)           768
Conductivity (µmhos/cm)            768
Dissolved Oxygen (mg/L)            768
Fecal Coliform (CFU/100ml)         768
Nitrate Nitrite (mg/L)             768
Orthophosphate Phosphate (mg/L)    768
pH                                 768
Temperature (°C)                   768
Total Nitrogen (mg/L)              768
Total Phosphorus (mg/L)            768
WQI                                768
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Resources/M621_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

189