In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-0614_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-1,1.0,0.02,<MDL,0.02,105.0,NaN,NaN,9.11,...,0.42,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-2,1.0,0.02,<MDL,0.02,105.0,NaN,NaN,9.00,...,0.45,NaN,0.05,0.093,NaN,0.005,42.0,NaN,0.2,NaN
2,01/06/1994,L2704-3,5.0,NaN,NaN,NaN,105.0,NaN,NaN,8.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/06/1994,L2704-4,10.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.00,...,0.49,NaN,0.05,0.021,NaN,0.005,42.0,NaN,0.2,NaN
4,02/14/1994,L2938-1,1.0,0.02,<MDL,0.02,102.3,NaN,NaN,10.76,...,0.60,NaN,0.05,0.027,NaN,0.005,NaN,NaN,NaN,NaN
5,02/14/1994,L2938-2,1.0,0.02,<MDL,0.02,102.6,NaN,NaN,10.73,...,0.64,NaN,0.05,0.016,NaN,0.005,NaN,NaN,NaN,NaN
6,02/14/1994,L2938-3,5.0,NaN,NaN,NaN,104.4,NaN,NaN,10.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,02/14/1994,L2938-4,10.0,0.02,<MDL,0.02,105.8,NaN,NaN,10.53,...,0.65,NaN,0.05,0.014,NaN,0.005,NaN,NaN,NaN,NaN
8,03/08/1994,L3136-1,1.0,0.02,<MDL,0.02,103.6,NaN,NaN,11.60,...,0.60,NaN,0.05,0.014,NaN,0.005,NaN,NaN,NaN,NaN
9,03/08/1994,L3136-2,1.0,0.02,<MDL,0.02,103.6,NaN,NaN,11.53,...,0.54,NaN,0.05,0.017,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(1385, 36)

In [4]:
WQ_df.count()

CollectDate                        1385
SampleNum                          1385
Depth (m)                          1362
Ammmonia Nitrogen (mg/L)            539
Ammmonia Nitrogen Qualifier*        500
AN MDL (mg/L)                       543
Conductivity (µmhos/cm)            1136
Cond Qualifier*                       1
Cond MDL (µmhos/cm)                 394
Dissolved Oxygen (mg/L)            1136
DO Qualifier*                        13
DO MDL (mg/L)                       394
Ecoli                               187
Ecoli Qualifier*                      4
Fecal Coliform (CFU/100ml)          332
Fecal Coliform Qualifier*             3
Nitrate Nitrite (mg/L)              541
Nitrate Nitrite Qualifier*           90
Nitrate Nitrite MDL (mg/L)          543
Orthophosphate Phosphate (mg/L)     536
OP Qualifier*                       370
OP MDL (mg/L)                       540
pH                                 1139
pH Qualifier*                         1
Temperature (°C)                   1162
Temperature Qualifier*                1
Total Nitrogen (mg/L)               541
TN Qualifier*                         1
TN MDL (mg/L)                       541
Total Phosphorus (mg/L)             636
TP Qualifier*                       155
TP MDL (mg/L)                       636
Total Alkalinity (mg/L)             163
Total Alkalinity Qualifier*           3
Total Alkalinity MDL (mg/L)         166
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(1385, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-1,0.02,105.0,9.11,NaN,10.0,0.30,0.010,7.4,7.2,0.42,0.019,42.0,NaN
1,01/06/1994,L2704-2,0.02,105.0,9.00,NaN,8.0,0.30,0.011,7.4,7.3,0.45,0.093,42.0,NaN
2,01/06/1994,L2704-3,NaN,105.0,8.89,NaN,NaN,NaN,NaN,7.4,7.2,NaN,NaN,NaN,NaN
3,01/06/1994,L2704-4,0.02,103.0,9.00,NaN,NaN,0.32,0.011,7.3,6.9,0.49,0.021,42.0,NaN
4,02/14/1994,L2938-1,0.02,102.3,10.76,NaN,13.0,0.33,0.010,7.2,6.3,0.60,0.027,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1385
SampleNum                          1385
Ammmonia Nitrogen (mg/L)            539
Conductivity (µmhos/cm)            1136
Dissolved Oxygen (mg/L)            1136
Ecoli                               187
Fecal Coliform (CFU/100ml)          332
Nitrate Nitrite (mg/L)              541
Orthophosphate Phosphate (mg/L)     536
pH                                 1139
Temperature (°C)                   1162
Total Nitrogen (mg/L)               541
Total Phosphorus (mg/L)             636
Total Alkalinity (mg/L)             163
Unnamed: 35                           0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)            846
Conductivity (µmhos/cm)             249
Dissolved Oxygen (mg/L)             249
Ecoli                              1198
Fecal Coliform (CFU/100ml)         1053
Nitrate Nitrite (mg/L)              844
Orthophosphate Phosphate (mg/L)     849
pH                                  246
Temperature (°C)                    223
Total Nitrogen (mg/L)               844
Total Phosphorus (mg/L)             749
Total Alkalinity (mg/L)            1222
Unnamed: 35                        1385
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1385, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-1,0.02,105.0,9.11,10.0,0.30,0.010,7.4,7.2,0.42,0.019
1,01/06/1994,L2704-2,0.02,105.0,9.00,8.0,0.30,0.011,7.4,7.3,0.45,0.093
2,01/06/1994,L2704-3,NaN,105.0,8.89,NaN,NaN,NaN,7.4,7.2,NaN,NaN
3,01/06/1994,L2704-4,0.02,103.0,9.00,NaN,0.32,0.011,7.3,6.9,0.49,0.021
4,02/14/1994,L2938-1,0.02,102.3,10.76,13.0,0.33,0.010,7.2,6.3,0.60,0.027

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1383, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-1,0.02,105.0,9.11,10.0,0.300,0.0100,7.4,7.2,0.420,0.019
1,1994-01-06,L2704-2,0.02,105.0,9.00,8.0,0.300,0.0110,7.4,7.3,0.450,0.093
2,1994-01-06,L2704-3,NaN,105.0,8.89,NaN,NaN,NaN,7.4,7.2,NaN,NaN
3,1994-01-06,L2704-4,0.02,103.0,9.00,NaN,0.320,0.0110,7.3,6.9,0.490,0.021
4,1994-02-14,L2938-1,0.02,102.3,10.76,13.0,0.330,0.0100,7.2,6.3,0.600,0.027
5,1994-02-14,L2938-2,0.02,102.6,10.73,14.0,0.400,0.0090,7.2,6.3,0.640,0.016
6,1994-02-14,L2938-3,NaN,104.4,10.64,NaN,NaN,NaN,7.3,6.3,NaN,NaN
7,1994-02-14,L2938-4,0.02,105.8,10.53,NaN,0.430,0.0110,7.3,6.2,0.650,0.014
8,1994-03-08,L3136-1,0.02,103.6,11.60,1.0,0.360,0.0030,7.5,8.0,0.600,0.014
9,1994-03-08,L3136-2,0.02,103.6,11.53,2.0,0.290,0.0030,7.6,8.0,0.540,0.017
10,1994-03-08,L3136-3,NaN,104.6,11.47,NaN,NaN,NaN,7.6,7.7,NaN,NaN
11,1994-03-08,L3136-4,0.02,104.8,11.00,NaN,0.490,0.0030,7.5,7.1,0.660,0.015
12,1994-03-22,L3278-1,0.02,103.2,11.49,14.0,0.440,0.0030,7.5,7.1,0.630,0.018
13,1994-03-22,L3278-2,0.02,103.2,11.31,18.0,0.440,0.0040,7.5,7.0,0.650,0.021
14,1994-03-22,L3278-3,NaN,104.6,11.18,NaN,NaN,NaN,7.5,6.9,NaN,NaN
15,1994-03-22,L3278-4,0.02,105.2,11.04,NaN,0.440,0.0030,7.5,6.9,0.630,0.016
16,1994-04-05,L3378-1,0.02,102.7,13.36,3.0,0.280,0.0047,8.7,8.1,0.518,0.010
17,1994-04-05,L3378-2,0.02,102.8,13.53,3.0,0.291,0.0047,8.7,8.1,0.490,0.007
18,1994-04-05,L3378-3,NaN,103.4,12.58,NaN,NaN,NaN,8.3,7.9,NaN,NaN
19,1994-04-05,L3378-4,0.02,103.6,12.09,NaN,0.361,0.0047,7.9,7.7,0.541,0.009
20,1994-04-19,L3514-1,0.02,106.0,12.50,5.0,0.320,0.0020,9.0,13.4,0.535,0.014
21,1994-04-19,L3514-2,0.02,106.0,12.51,3.0,0.339,0.0020,9.0,13.4,0.515,0.012
22,1994-04-19,L3514-3,NaN,103.9,13.26,NaN,NaN,NaN,9.0,9.0,NaN,NaN
23,1994-04-19,L3514-4,0.02,104.2,9.95,NaN,0.308,0.0020,7.6,8.3,0.513,0.014
24,1994-05-03,L3610-1,0.02,108.4,11.79,0.0,0.279,0.0020,8.7,14.4,0.465,0.012
25,1994-05-03,L3610-2,0.02,NaN,NaN,0.0,0.295,0.0020,NaN,NaN,0.457,0.020
26,1994-05-03,L3610-3,NaN,110.1,11.54,NaN,NaN,NaN,8.6,13.0,NaN,NaN
27,1994-05-03,L3610-4,0.02,NaN,NaN,NaN,0.378,0.0020,NaN,12.9,0.542,0.027
28,1994-05-24,L3772-1,0.02,118.8,9.99,1.0,0.264,0.0020,8.3,18.8,0.435,0.017
29,1994-05-24,L3772-2,0.02,116.4,10.02,3.0,0.264,0.0020,8.3,18.8,0.443,0.023
30,1994-05-24,L3772-3,NaN,118.7,10.14,NaN,NaN,NaN,8.3,17.9,NaN,NaN
31,1994-05-24,L3772-33,NaN,121.9,9.99,NaN,NaN,NaN,8.2,17.8,NaN,NaN
32,1994-05-24,L3772-34,NaN,120.0,10.24,NaN,NaN,NaN,8.2,16.3,NaN,NaN
33,1994-05-24,L3772-35,NaN,119.8,10.32,NaN,NaN,NaN,8.2,15.9,NaN,NaN
34,1994-05-24,L3772-36,NaN,117.8,10.74,NaN,NaN,NaN,8.3,14.5,NaN,NaN
35,1994-05-24,L3772-37,NaN,115.3,11.09,NaN,NaN,NaN,8.2,12.7,NaN,NaN
36,1994-05-24,L3772-38,NaN,114.9,10.26,NaN,NaN,NaN,8.0,11.8,NaN,NaN
37,1994-05-24,L3772-4,0.02,116.0,10.45,NaN,0.321,0.0020,8.0,11.6,0.485,0.016
38,1994-06-07,L3856-1,0.02,112.6,10.48,12.0,0.264,0.0020,8.2,16.0,0.468,0.012
39,1994-06-07,L3856-2,0.02,111.6,10.32,7.0,0.251,0.0020,8.2,16.0,0.447,0.011
40,1994-06-07,L3856-3,NaN,112.7,10.43,NaN,NaN,NaN,8.3,15.9,NaN,NaN
41,1994-06-07,L3856-4,0.02,111.9,10.45,NaN,0.300,0.0020,8.0,14.8,0.519,0.015
42,1994-07-06,L4017-1,0.02,120.2,9.98,4.0,0.153,0.0063,8.7,19.5,0.379,0.014
43,1994-07-06,L4017-2,0.02,119.2,9.87,1.0,0.142,0.0020,8.7,19.5,0.336,0.014
44,1994-07-06,L4017-3,NaN,120.1,9.96,NaN,NaN,NaN,8.6,18.4,NaN,NaN
45,1994-07-06,L4017-41,NaN,123.3,9.68,NaN,NaN,NaN,8.5,18.1,NaN,NaN
46,1994-07-06,L4017-42,NaN,119.9,10.35,NaN,NaN,NaN,8.6,17.1,NaN,NaN
47,1994-07-06,L4017-39,NaN,121.0,9.93,NaN,NaN,NaN,8.3,16.8,NaN,NaN
48,1994-07-06,L4017-40,NaN,118.5,10.10,NaN,NaN,NaN,8.4,16.4,NaN,NaN
49,1994-07-06,L4017-38,NaN,118.6,10.07,NaN,NaN,NaN,8.3,15.9,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1383, 12)

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)            844
Conductivity (µmhos/cm)             249
Dissolved Oxygen (mg/L)             249
Fecal Coliform (CFU/100ml)         1051
Nitrate Nitrite (mg/L)              842
Orthophosphate Phosphate (mg/L)     847
pH                                  246
Temperature (°C)                    223
Total Nitrogen (mg/L)               842
Total Phosphorus (mg/L)             747
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_35244\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_35244\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-1,0.02,105.0,9.11,10.0,0.300000,0.010000,7.4,7.2,0.420000,0.019000
1,1994-01-06,L2704-2,0.02,105.0,9.00,8.0,0.300000,0.011000,7.4,7.3,0.450000,0.093000
2,1994-01-06,L2704-3,0.02,105.0,8.89,9.0,0.306667,0.010667,7.4,7.2,0.453333,0.044333
3,1994-01-06,L2704-4,0.02,103.0,9.00,9.0,0.320000,0.011000,7.3,6.9,0.490000,0.021000
4,1994-02-14,L2938-1,0.02,102.3,10.76,13.0,0.330000,0.010000,7.2,6.3,0.600000,0.027000

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           390
Conductivity (µmhos/cm)             45
Dissolved Oxygen (mg/L)             45
Fecal Coliform (CFU/100ml)         398
Nitrate Nitrite (mg/L)             378
Orthophosphate Phosphate (mg/L)    393
pH                                  41
Temperature (°C)                    28
Total Nitrogen (mg/L)              380
Total Phosphorus (mg/L)              7
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,105.0,9.11,10.0,0.300000,0.010000,7.4,7.2,0.420000,0.019000,104.498845
1,1994-01-06,0.02,105.0,9.00,8.0,0.300000,0.011000,7.4,7.3,0.450000,0.093000,126.799631
2,1994-01-06,0.02,105.0,8.89,9.0,0.306667,0.010667,7.4,7.2,0.453333,0.044333,114.167922
3,1994-01-06,0.02,103.0,9.00,9.0,0.320000,0.011000,7.3,6.9,0.490000,0.021000,111.232500
4,1994-02-14,0.02,102.3,10.76,13.0,0.330000,0.010000,7.2,6.3,0.600000,0.027000,116.391225

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(970, 12)

CollectDate                        970
Ammmonia Nitrogen (mg/L)           970
Conductivity (µmhos/cm)            970
Dissolved Oxygen (mg/L)            970
Fecal Coliform (CFU/100ml)         970
Nitrate Nitrite (mg/L)             970
Orthophosphate Phosphate (mg/L)    970
pH                                 970
Temperature (°C)                   970
Total Nitrogen (mg/L)              970
Total Phosphorus (mg/L)            970
WQI                                970
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Resources/0614_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

191