In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-0622_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-15,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.02,...,0.40,NaN,0.05,0.021,NaN,0.005,41.0,NaN,0.2,NaN
1,01/06/1994,L2704-16,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-17,10.0,0.02,<MDL,0.02,104.0,NaN,NaN,9.35,...,0.41,NaN,0.05,0.018,NaN,0.005,42.0,NaN,0.2,NaN
3,02/14/1994,L2938-15,1.0,0.02,<MDL,0.02,102.6,NaN,NaN,10.95,...,4.90,TA,0.05,0.045,NaN,0.005,NaN,NaN,NaN,NaN
4,02/14/1994,L2938-16,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02/14/1994,L2938-17,10.0,0.02,<MDL,0.02,105.1,NaN,NaN,10.82,...,0.48,NaN,0.05,0.039,NaN,0.005,NaN,NaN,NaN,NaN
6,03/08/1994,L3136-15,1.0,0.02,<MDL,0.02,102.0,NaN,NaN,11.11,...,0.63,NaN,0.05,0.014,NaN,0.005,NaN,NaN,NaN,NaN
7,03/08/1994,L3136-16,5.0,NaN,NaN,NaN,104.4,NaN,NaN,10.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,03/08/1994,L3136-17,10.0,0.02,<MDL,0.02,105.6,NaN,NaN,10.07,...,0.57,NaN,0.05,0.016,NaN,0.005,NaN,NaN,NaN,NaN
9,03/22/1994,L3278-15,1.0,0.02,<MDL,0.02,103.9,NaN,NaN,11.98,...,0.56,NaN,0.05,0.028,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(1177, 36)

In [4]:
WQ_df.count()

CollectDate                        1177
SampleNum                          1177
Depth (m)                          1155
Ammmonia Nitrogen (mg/L)            389
Ammmonia Nitrogen Qualifier*        367
AN MDL (mg/L)                       392
Conductivity (µmhos/cm)             956
Cond Qualifier*                       2
Cond MDL (µmhos/cm)                 373
Dissolved Oxygen (mg/L)             953
DO Qualifier*                        14
DO MDL (mg/L)                       373
Ecoli                               127
Ecoli Qualifier*                      3
Fecal Coliform (CFU/100ml)          199
Fecal Coliform Qualifier*             1
Nitrate Nitrite (mg/L)              390
Nitrate Nitrite Qualifier*           67
Nitrate Nitrite MDL (mg/L)          392
Orthophosphate Phosphate (mg/L)     389
OP Qualifier*                       270
OP MDL (mg/L)                       391
pH                                  956
pH Qualifier*                         2
Temperature (°C)                    972
Temperature Qualifier*                2
Total Nitrogen (mg/L)               392
TN Qualifier*                         1
TN MDL (mg/L)                       392
Total Phosphorus (mg/L)             486
TP Qualifier*                       205
TP MDL (mg/L)                       486
Total Alkalinity (mg/L)             122
Total Alkalinity Qualifier*           2
Total Alkalinity MDL (mg/L)         124
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(1177, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-15,0.02,103.0,9.02,NaN,4.0,0.28,0.011,7.4,7.4,0.40,0.021,41.0,NaN
1,01/06/1994,L2704-16,NaN,104.0,8.79,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-17,0.02,104.0,9.35,NaN,NaN,0.28,0.010,7.4,7.3,0.41,0.018,42.0,NaN
3,02/14/1994,L2938-15,0.02,102.6,10.95,NaN,6.0,0.31,0.009,7.4,6.5,4.90,0.045,NaN,NaN
4,02/14/1994,L2938-16,NaN,103.9,10.92,NaN,NaN,NaN,NaN,7.4,6.5,NaN,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1177
SampleNum                          1177
Ammmonia Nitrogen (mg/L)            389
Conductivity (µmhos/cm)             956
Dissolved Oxygen (mg/L)             953
Ecoli                               127
Fecal Coliform (CFU/100ml)          199
Nitrate Nitrite (mg/L)              390
Orthophosphate Phosphate (mg/L)     389
pH                                  956
Temperature (°C)                    972
Total Nitrogen (mg/L)               392
Total Phosphorus (mg/L)             486
Total Alkalinity (mg/L)             122
Unnamed: 35                           0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)            788
Conductivity (µmhos/cm)             221
Dissolved Oxygen (mg/L)             224
Ecoli                              1050
Fecal Coliform (CFU/100ml)          978
Nitrate Nitrite (mg/L)              787
Orthophosphate Phosphate (mg/L)     788
pH                                  221
Temperature (°C)                    205
Total Nitrogen (mg/L)               785
Total Phosphorus (mg/L)             691
Total Alkalinity (mg/L)            1055
Unnamed: 35                        1177
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1177, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-15,0.02,103.0,9.02,4.0,0.28,0.011,7.4,7.4,0.40,0.021
1,01/06/1994,L2704-16,NaN,104.0,8.79,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-17,0.02,104.0,9.35,NaN,0.28,0.010,7.4,7.3,0.41,0.018
3,02/14/1994,L2938-15,0.02,102.6,10.95,6.0,0.31,0.009,7.4,6.5,4.90,0.045
4,02/14/1994,L2938-16,NaN,103.9,10.92,NaN,NaN,NaN,7.4,6.5,NaN,NaN

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1177, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-15,0.02,103.0,9.02,4.0,0.280,0.0110,7.4,7.4,0.400,0.021
1,1994-01-06,L2704-16,NaN,104.0,8.79,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-17,0.02,104.0,9.35,NaN,0.280,0.0100,7.4,7.3,0.410,0.018
3,1994-02-14,L2938-15,0.02,102.6,10.95,6.0,0.310,0.0090,7.4,6.5,4.900,0.045
4,1994-02-14,L2938-16,NaN,103.9,10.92,NaN,NaN,NaN,7.4,6.5,NaN,NaN
5,1994-02-14,L2938-17,0.02,105.1,10.82,NaN,0.260,0.0090,7.4,6.5,0.480,0.039
6,1994-03-08,L3136-15,0.02,102.0,11.11,0.0,0.410,0.0040,7.5,8.1,0.630,0.014
7,1994-03-08,L3136-16,NaN,104.4,10.57,NaN,NaN,NaN,7.5,6.6,NaN,NaN
8,1994-03-08,L3136-17,0.02,105.6,10.07,NaN,0.390,0.0070,7.3,6.5,0.570,0.016
9,1994-03-22,L3278-15,0.02,103.9,11.98,1.0,0.340,0.0020,8.3,7.9,0.560,0.028
10,1994-03-22,L3278-16,NaN,105.4,11.68,NaN,NaN,NaN,8.3,7.6,NaN,NaN
11,1994-03-22,L3278-17,0.02,105.5,11.37,NaN,0.330,0.0020,8.1,7.6,0.540,0.013
12,1994-04-05,L3378-15,0.02,103.8,14.83,0.0,0.272,0.0047,9.3,10.3,0.493,0.009
13,1994-04-05,L3378-16,NaN,103.8,14.63,NaN,NaN,NaN,9.1,9.0,NaN,NaN
14,1994-04-05,L3378-17,0.02,103.5,13.18,NaN,0.270,0.0047,8.6,7.9,0.475,0.010
15,1994-04-19,L3514-15,0.02,105.2,12.76,1.0,0.245,0.0020,9.2,13.1,0.429,0.012
16,1994-04-19,L3514-16,NaN,105.1,12.72,NaN,NaN,NaN,9.2,12.9,NaN,NaN
17,1994-04-19,L3514-17,0.02,105.2,12.74,NaN,0.245,0.0020,9.2,12.8,0.424,0.011
18,1994-05-03,L3610-15,0.02,107.9,11.49,0.0,0.253,0.0020,8.8,13.6,0.427,0.008
19,1994-05-03,L3610-16,NaN,108.3,11.51,NaN,NaN,NaN,8.9,13.4,NaN,NaN
20,1994-05-03,L3610-17,0.02,107.8,12.29,NaN,0.261,0.0020,8.8,11.7,0.436,0.011
21,1994-05-24,L3772-15,0.02,114.5,10.16,1.0,0.260,0.0020,8.4,18.6,0.420,0.014
22,1994-05-24,L3772-16,NaN,114.5,10.23,NaN,NaN,NaN,8.5,16.7,NaN,NaN
23,1994-05-24,L3772-59,NaN,114.5,10.18,NaN,NaN,NaN,8.4,16.6,NaN,NaN
24,1994-05-24,L3772-60,NaN,114.8,10.14,NaN,NaN,NaN,8.4,16.6,NaN,NaN
25,1994-05-24,L3772-61,NaN,114.6,10.17,NaN,NaN,NaN,8.4,16.5,NaN,NaN
26,1994-05-24,L3772-62,NaN,114.5,10.29,NaN,NaN,NaN,8.5,16.3,NaN,NaN
27,1994-05-24,L3772-63,NaN,114.2,10.42,NaN,NaN,NaN,8.5,15.3,NaN,NaN
28,1994-05-24,L3772-64,NaN,111.7,11.25,NaN,NaN,NaN,8.4,11.2,NaN,NaN
29,1994-05-24,L3772-65,NaN,111.1,11.14,NaN,NaN,NaN,8.1,10.4,NaN,NaN
30,1994-05-24,L3772-66,NaN,111.3,10.91,NaN,NaN,NaN,7.9,9.7,NaN,NaN
31,1994-05-24,L3772-17,0.02,111.9,10.45,NaN,0.321,0.0020,7.8,9.0,0.469,0.015
32,1994-06-07,L3856-15,0.02,107.9,9.91,2.0,0.251,0.0020,8.2,17.1,0.430,0.013
33,1994-06-07,L3856-16,NaN,108.1,9.86,NaN,NaN,NaN,8.2,16.9,NaN,NaN
34,1994-06-07,L3856-54,NaN,108.2,9.76,NaN,NaN,NaN,8.1,16.8,NaN,NaN
35,1994-06-07,L3856-55,NaN,108.4,9.80,NaN,NaN,NaN,8.2,16.8,NaN,NaN
36,1994-06-07,L3856-56,NaN,108.4,9.81,NaN,NaN,NaN,8.2,16.7,NaN,NaN
37,1994-06-07,L3856-57,NaN,109.0,8.91,NaN,NaN,NaN,8.0,13.9,NaN,NaN
38,1994-06-07,L3856-59,NaN,105.1,9.85,NaN,NaN,NaN,7.5,10.1,NaN,NaN
39,1994-06-07,L3856-58,NaN,105.2,9.53,NaN,NaN,NaN,7.6,9.8,NaN,NaN
40,1994-06-07,L3856-17,0.02,104.9,9.22,NaN,0.294,0.0020,7.5,9.4,0.458,0.015
41,1994-07-06,L4017-15,0.02,116.2,9.85,0.0,0.144,0.0020,8.8,19.8,0.367,0.009
42,1994-07-06,L4017-16,NaN,116.1,9.88,NaN,NaN,NaN,8.8,19.4,NaN,NaN
43,1994-07-06,L4017-68,NaN,116.0,9.85,NaN,NaN,NaN,8.8,18.8,NaN,NaN
44,1994-07-06,L4017-69,NaN,116.1,9.83,NaN,NaN,NaN,8.8,18.7,NaN,NaN
45,1994-07-06,L4017-70,NaN,114.2,9.60,NaN,NaN,NaN,8.7,17.0,NaN,NaN
46,1994-07-06,L4017-67,NaN,113.9,9.53,NaN,NaN,NaN,8.2,15.0,NaN,NaN
47,1994-07-06,L4017-17,0.02,112.6,9.66,NaN,0.265,0.0020,8.0,14.0,0.439,0.012
48,1994-08-02,L4195-15,0.02,116.7,10.09,0.0,0.050,0.0020,9.2,23.7,0.255,0.011
49,1994-08-02,L4195-16,NaN,115.2,10.22,NaN,NaN,NaN,9.2,23.5,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1177, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           788
Conductivity (µmhos/cm)            221
Dissolved Oxygen (mg/L)            224
Fecal Coliform (CFU/100ml)         978
Nitrate Nitrite (mg/L)             787
Orthophosphate Phosphate (mg/L)    788
pH                                 221
Temperature (°C)                   205
Total Nitrogen (mg/L)              785
Total Phosphorus (mg/L)            691
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_41796\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_41796\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-15,0.02,103.0,9.02,4.0,0.280,0.0110,7.4,7.4,0.400,0.0210
1,1994-01-06,L2704-16,0.02,104.0,8.79,4.0,0.280,0.0105,7.4,7.3,0.405,0.0195
2,1994-01-06,L2704-17,0.02,104.0,9.35,4.0,0.280,0.0100,7.4,7.3,0.410,0.0180
3,1994-02-14,L2938-15,0.02,102.6,10.95,6.0,0.310,0.0090,7.4,6.5,4.900,0.0450
4,1994-02-14,L2938-16,0.02,103.9,10.92,6.0,0.285,0.0090,7.4,6.5,2.690,0.0420

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           373
Conductivity (µmhos/cm)             19
Dissolved Oxygen (mg/L)             22
Fecal Coliform (CFU/100ml)         361
Nitrate Nitrite (mg/L)             361
Orthophosphate Phosphate (mg/L)    373
pH                                  18
Temperature (°C)                     6
Total Nitrogen (mg/L)              360
Total Phosphorus (mg/L)              1
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,103.0,9.02,4.0,0.280,0.0110,7.4,7.4,0.400,0.0210,99.063791
1,1994-01-06,0.02,104.0,8.79,4.0,0.280,0.0105,7.4,7.3,0.405,0.0195,98.588639
2,1994-01-06,0.02,104.0,9.35,4.0,0.280,0.0100,7.4,7.3,0.410,0.0180,98.198043
3,1994-02-14,0.02,102.6,10.95,6.0,0.310,0.0090,7.4,6.5,4.900,0.0450,124.787631
4,1994-02-14,0.02,103.9,10.92,6.0,0.285,0.0090,7.4,6.5,2.690,0.0420,111.762192

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(799, 12)

CollectDate                        799
Ammmonia Nitrogen (mg/L)           799
Conductivity (µmhos/cm)            799
Dissolved Oxygen (mg/L)            799
Fecal Coliform (CFU/100ml)         799
Nitrate Nitrite (mg/L)             799
Orthophosphate Phosphate (mg/L)    799
pH                                 799
Temperature (°C)                   799
Total Nitrogen (mg/L)              799
Total Phosphorus (mg/L)            799
WQI                                799
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Resources/0622_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

188